services:
  main:
    build:
      context: .
    container_name: cot_training_environment
    command: sleep infinity
    volumes:
      - ./data:/app/data
      - ./output:/app/output
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]